@{
    ViewData["Title"] = "Головна сторінка";
}

<div class="text-center">
    <h1 class="display-4">Ласкаво просимо!</h1>
    <p>
        Це веб-застосунок для демонстрації можливостей ASP.NET Core MVC. 
        Ви можете зареєструватися, авторизуватися та виконати інтеграцію з підпрограмами з перших трьох лабораторних.
    </p>
    <p>
      Реалізувала студентка Кравчук Дарія ІПЗ-31
    </p>
</div>
